.container {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary-text {
  font-size: calc(20px + 0.5vw);
}

.circle {
  display: flex;
  justify-content: center;
  border: 3px solid;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: calc(171px + 1vw);
  height: calc(171px + 1vh);
}

.time {
  font-size: calc(48px + 1vw);
  align-self: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  background-color: #273e47;
  color: #f9d48b;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  margin-left: 25px;
  margin-right: 25px;
}

.done-text {
  margin-bottom: 85px;
}

.completed-pomodoros-text {
  
}

/* https://coolors.co/61e786-5a5766-f9d48b-48435c-9792e3 */
